/*@charset "UTF-8";

*{box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

.container h1{
    margin-left: 200px;
    font-size: 35px;
}

.container{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 15px 20px;
  font-size: 20px;


}

.container li{
    display: inline;
    margin-left: 100px;
    
}

header {
    background-color: rgb(0, 0, 17);
    color: aliceblue;

}
header{
    padding: 10px 10px;
    
}

.container a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}
/*
#container-produto ,#container-produto01 {
    padding: 16px 20px;
    
}



*
#container-produto img ,#container-produto01 img{
    height: 300px;
    margin-top: 20px;
    
    
    


}

#container-produto p ,input , #container-produto01 p {
    margin-top: 5px; 
     display: flex;
   width: 100%;
   
   margin-top: 0px;
 
    
}

input{
    margin-top: 5px;
    width: 90px;
    height: 20px;
}

.corpo{
    display: flex;
    width: 50%;
    background-color: blue;
} */






